img{ max-width: 100%; }
h1,h2,h3,h4,h5,h6{ margin: 0; }
p{font-weight: 200 !important; line-height: 30px;}
body{ background: #f9f9f9;}



/* Header section */
#header-top{
	padding: 10px 0;
}
.dropdown-lang .btn{
	border-radius: 0;
	padding: 2px 5.5px;
	margin-bottom: 5px;
	border: 1px solid #eee;
	font-size: 13.5px;
}
.dropdown-lang .btn:active,
.dropdown-lang .btn:focus,
.dropdown-lang .btn.active{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.dropdown-lang .dropdown-menu{
	border-radius: 0;
	min-width: 1%;
}
.dropdown-lang .dropdown-menu a{
	padding: 2px 12.5px;
	font-size: 13.5px;
}
/* ============================================================ */

.dropdown-submenu {
	position:relative;
}
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top:-6px;
}

#navbar-2{
	padding: 0;
}
#navbar-2 .nav-item{
	position: relative;
}
#navbar-2 .nav-item > a{
	display: block;
	padding: 20px 15px;
}
#navbar-2 .nav-item:after{
	content: '';
	background: #EA0000;
	width: 0;
	height: 4px;
	position: absolute;
	left: 0;
	bottom: 0px;
	transition: 0.3s ease-in;
}
#navbar-2 .nav-item.active:after{
	width: 100%;
}
#navbar-2 .nav-item > .dropdown-menu.show{
	border-radius: 0;
	border: none;
	margin-top: 1px;
}
#navbar-2 .nav-item > .dropdown-menu.show > .dropdown-submenu > .dropdown-menu{
	border-radius: 0;
	border: none;
	margin: -8px 0 0 1px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:after {
	text-decoration: underline;
	transform: rotate(-90deg);
} 



/* ========================================================= */
.social-header ul{
	margin: 0;
}
.social-header ul li{
	margin-left: -5px;
}
.social-header ul li a{
	margin-top: 2px;
	background: #999;
	color: #fff;
	display: block;
	text-align: center;
	width: 30px; height: 30px;
	line-height: 30px;
	border-radius: 50%;
	font-size: 13px;
}
.social-header ul li a:hover{
	background: #777;
	color: #fff;
	transition: 0.3s ease-in;
}

/* Footer Section */
#top-footer{
	box-shadow: 1px 1px 5px rgba(000, 000, 000, 0.2);
	padding: 25px 30px;
	background: #fff;
	margin: 10px 0;
}
#top-footer h3{
	text-transform: uppercase;
	margin: 8px 0 25px;
	text-align: center;
}
.slick-slide {
	margin: 0px 20px;
}
.slick-slide img {
	width: 100%;
	border: 1px solid #f1f1f1;
}
.slick-slider
{
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list
{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus
{
	outline: none;
}
.slick-list.dragging
{
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track
{
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before,
.slick-track:after
{
	display: table;
	content: '';
}
.slick-track:after
{
	clear: both;
}
.slick-loading .slick-track
{
	visibility: hidden;
}
.slick-slide
{
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide
{
	float: right;
}
.slick-slide img
{
	display: block;
}
.slick-slide.slick-loading img
{
	display: none;
}
.slick-slide.dragging img
{
	pointer-events: none;
}
.slick-initialized .slick-slide
{
	display: block;
}
.slick-loading .slick-slide
{
	visibility: hidden;
}
.slick-vertical .slick-slide
{
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}
#bottom-footer{
	padding: 22px 5px 19px 5px;
}
#bottom-footer .footer-menu li a{
	transition: 0.3s ease-in-out;
	display: block;
	margin-left: 8px;
	color: darkblue;
}
#bottom-footer .dev-by a{
	color: #000;
}
#bottom-footer .dev-by a:hover,
#bottom-footer .footer-menu li a:hover{
	text-decoration: none;
	color: blue;
}

/* Navbar */
.navbar-main-top{
  box-shadow: 2px 2px 3px rgba(000, 000, 000, 0.1);
  padding: 0
}
.navbar-main-top .navbar-item-list > li{
  position: relative;
}
.navbar-main-top .navbar-item-list > li > a{
  display: block;
  padding: 20px 15px !important;
  transition: 0.25s ease-in-out;
}
.navbar-main-top .navbar-item-list > li > a:after{
  content: '';
  background: #EA0000;
  width: 0;
  height: 5px;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.navbar-main-top .navbar-item-list:hover > li.active > a:after{
  width: 0;
}
.navbar-main-top .navbar-item-list > li.active > a:after,
.navbar-main-top .navbar-item-list > li:focus-within > a:after,
.navbar-main-top .navbar-item-list > li:hover > a:after{
  width: 100%;
}
.navbar-main-top .navbar-item-list > li > ul{
  box-shadow: 2px 2px 3px rgba(000, 000, 000, 0.1);
  background: #fff;
  position: absolute;
  left: 0;
  top: 75px;
	opacity: 0;
	display: none;
  transition: 0.25s ease-in-out;
  z-index: 5;
}
.navbar-main-top .navbar-item-list > li > ul > li > a{
  display: block;
  padding: 10px 20px;
  background: #fff;
  white-space: nowrap;
  color: #888;
  transition: 0.25s ease-in-out;
}
.navbar-main-top .navbar-item-list > li > ul > li.active > a,
.navbar-main-top .navbar-item-list > li > ul > li > a:hover{
  background: #f9f9f9;
  text-decoration: none;
}
.navbar-main-top .navbar-item-list > li  > ul:focus-within,
.navbar-main-top .navbar-item-list > li:hover  > ul{
  top: 64px;
	opacity: 1;
	display: block;
}
#navbar-1{
  box-shadow: none;
}
#navbar-2{
  /* box-shadow: none; */
}
.navbar-main-top .navbar-item-list > li.search > ul{
  padding: 10px !important;
  right: 0 !important;
  left: auto;
}
.navbar-main-top .navbar-item-list > li > ul > li > input{
  padding: 4px 10px;
  border: 1px solid #eee;
}


/* Slider Section */
#block-front-slider .carousel-item{
  height: 500px;
}
#block-front-slider .carousel-item .carousel-caption{
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
}
#block-front-slider .carousel-item .carousel-caption h2{
	position: absolute;
	z-index: 1;
	top: 25%;
	text-align: left;
}
#block-front-slider .carousel-item .carousel-caption p{
	position: absolute;
	z-index: 1;
	top: 33%;
}



.block-content{
	margin-top: 20px;
	margin-bottom: 35px;
}
.block-content .title-block{
	position: relative;
	border-bottom: 2px solid #EA0000;
}
.block-content .title-block .title{
	margin: 0;
  overflow: hidden;
}
.block-content .title-block .title > div{
	background: #EA0000;
	position: relative;
	max-width: 60%;
}
.block-content .title-block .title > div .text{
	background: #EA0000;
	padding: 3px 0px 3px 15px;
	color: #fff;
	width: 100%;
  white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
}
.block-content .title-block .text:after{
	position: absolute;
	content: '';
	background: inherit;
	z-index: -2;
	transform: rotate(50deg);
	width: 88px;
	height: 41px;
	top: 26px;
	right: -58px;
	overflow: hidden;
}
.block-content .title-block a.show-all{
	font-size: 15px;
	position: absolute;
	right: 15px;
	top: 5px;
	color: #333;
	transition: 0.5s ease-in-out;
}
.block-content .title-block a.show-all:hover{
	text-decoration: none;
	color: darkblue;
}
.block-content .content{
	box-shadow: 1px 1px 5px rgba(000, 000, 000, 0.2);
	background: #fff;
	padding: 20px 20px;
}
.block-content .content .big-article .img{
	height: 180px;
}
.block-content .content .big-article footer h4{
	background: #EA0000;
	margin: 0;
	padding: 10px 15px;
	height: 79px;
	overflow: hidden;
	color: #fff;
	position: relative;
}
.block-content .content .big-article footer h4:after{
	content: '';
	background: inherit;
	position: absolute;
	left: 0;
	top: 69px;
	width: 100%;
	height: 15px;
}
.block-content .content .big-article a:hover{
	text-decoration: none;
}
.block-content .content .small-article .img{
	height: 80px;
}
.block-content .content .small-article a footer h6{
	font-size: 14px;
	height: 40px;
	overflow: hidden;
	margin: 0;
	padding-top: 6px;
	color: #666;
	transition: 0.5s ease-in-out;
}
.block-content .content .small-article a:hover,
.block-content .content .small-article a:hover h6{
	color: #000;
	text-decoration: none;
}
/* Change Color Block */
/* Projects */
#block-front-projects .title-block{
	border-color: green;
}
#block-front-projects .title-block .text,
#block-front-projects .title-block .corner:after,
#block-front-projects .content .big-article footer h4,
#block-front-projects .content .big-article footer h4:after{
	background-color: green;
}
#block-front-projects .content .small-article a:hover,
#block-front-projects .content .small-article a:hover h6{
	color: green;
}
#block-front-projects .content .big-article:hover footer h4,
#block-front-projects .content .big-article:hover footer h4:after{
	background-color: darkgreen;
}

/* School */
#block-front-school .title-block{
	border-color: darkblue;
}
#block-front-school .title-block .text,
#block-front-school .title-block .corner:after,
#block-front-school .content .big-article footer h4,
#block-front-school .content .big-article footer h4:after{
	background-color: darkblue;
}
#block-front-school .content .small-article a:hover,
#block-front-school .content .small-article a:hover h6{
	color: darkblue;
}
#block-front-school .content .big-article:hover footer h4,
#block-front-school .content .big-article:hover footer h4:after{
	background-color: #020275;
}

/* Block rightside */
.block-right-side{
	padding-top: 20px;
}

#block-right-side .show-all{
	font-size: 14px;
}
#block-side-download ul li a{
	display: block;
  white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 5px;
	color: #333;
	font-size: 14px;
	transition: 0.3s ease-in-out;
	position: relative;
	height: 24px;
}
#block-side-download ul li a:after{
	content: '';
	position: absolute;
	background: red;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 1px;
	transition: 0.3s ease-in-out;
	opacity: 0;
}
#block-side-download ul li:hover a:after{
	bottom: 4px;
	opacity: 1;
}

#block-side-download ul li a:hover{
	color: darkblue;
	text-decoration: none;
}

.block-sidebar-right{
	/* border: 1px solid red; */
}

.block-sidebar-right img{
	width: 100% !important;
	height: auto !important;
}

/*block about us page*/

#navtab .nav-link.active {
    font-weight:bold;
    background-color: transparent;
    border-bottom:3px solid #dd0000;
    border-right: none;
    border-left: none;
    border-top: none;
}
#navtab .nav-link:hover {
    border-color: transparent;
}



/* Project */

.block-category{
	padding: 15px;
	margin: 30px 0;
	background: #fff;
	box-shadow: 0 0 5px rgba(000, 000, 000, 0.2);
}

.block-category h4 a{
	color: #07027B;
	display: block;
	transition: 0.3s ease-in;
	white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 5px;
}

.block-category h4 a:hover{
	color: #101010;
	text-decoration: none;
}

.block-category .img{
	height: 200px;
}

.block-category small{
	margin-top: 6px;
	display: block;
}

.block-category p{
	margin-top: 9px;
	height: 123px;
	overflow: hidden;
	margin-bottom: 0;
}


/* Activity */
.block-activity{
	padding: 15px;
	margin: 30px 0;
	background: #fff;
	box-shadow: 0 0 5px rgba(000, 000, 000, 0.2);
}

.block-activity .img{
	height: 180px;
}

/* =============Contact Us============ */
.nav_contact li{
	padding: 5px 0px 5px 0px;
}
/* ----map---- */
.map-responsive{
	overflow:hidden;
	padding-bottom:50%;
	position:relative;
	height:0;
}
.map-responsive iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}


@media screen and (max-width: 1200px){
	
	#navbar-2 .nav-item > a{
		padding: 20px 10px;
	}

	/* Slider Section */
	#block-front-slider .carousel-item{
		height: 430px;
	}

	/* Project */
	.block-category .img{
		height: 170px;
	}
	.block-category h4 a{
		margin-top: 0;
	}
	.block-category small{
		margin-top: 3px;
	}
	.block-category p{
		margin-top: 0;
	}

}
@media screen and (max-width: 991px){
	.navbar-brand{
		display: none;
	}
	#navbar-2 .nav-item > a{
		padding: 20px 7px;
		font-size: 15px;
	}

	/* Slider Section */
	#block-front-slider .carousel-item{
		height: 270px;
	}
	
	/* Front Page Category */
	.big-article .img{
		height: 270px !important;
	}
	.small-article{
		margin-top: 20px;
		border: 1px solid red;
	}

	/* Project */
	.block-category .img{
		height: 120px;
	}
	.block-category h4 a{
		font-size: 22px;
		margin-top: 0;
	}
	.block-category p{
		margin-top: 5px;
		line-height: 20px;
		font-size: 15px;
		height: 64px;
	}
	
}
@media screen and (max-width: 767px){
	/* Slider Section */
	#block-front-slider .carousel-item{
		height: 280px;
	}


	.big-article .img{
		height: 200px !important;
	}
	.small-article .img{
		height: 110px;
	}
	
	/* Project */
	.block-category .img{
		height: 210px;
	}
	.block-category h4 a{
		font-size: 24px;
		margin: 15px 0 0 0;
	}
	.block-category small.time{
		font-size: 14px;
		margin: 5px 0;
	}
	.block-category p{
		font-size: 16px;
		margin-top: 5px;
	}
	
}
@media screen and (max-width: 576px){
	
	#navbar-2{
		padding: 15px;
	}

	#navbar-2 .nav-item{
		text-align: center;
		transition: 0.3s ease-in;
		padding: 0;
	}
	#navbar-2 .nav-item > a{
		display: block;
		padding: 16px 5px;
		border-bottom: 1px solid #eee;
	}
	#navbar-2 .nav-item > .dropdown-menu.show{
		border-radius: 0;
		padding: 0;
		margin:  0;
	}

	#navbar-2 .nav-item > .dropdown-menu.show > .dropdown-submenu{
		padding: 0;
	}
	#navbar-2 .nav-item > .dropdown-menu.show > .dropdown-submenu a{
		padding: 14px 8px;
		border-bottom: 1px solid #eee;
	}
	#navbar-2 .nav-item > .dropdown-menu.show > .dropdown-submenu > .dropdown-menu{
		border-radius: 0;
		padding: 0;
		margin-top: 1px;
	}
	/* rotate caret on hover */
	.dropdown-menu > li > a:after {
		text-decoration: underline;
		transform: rotate(-90deg);
	} 


	/* Header section */
	#header-top .img-logo{
		display: block;
		text-align: center;
	}
	#header-top .img-logo img{
		width: 90%;
		padding: 20px;
		margin: 0 auto;
	}
	#header-top .social-header{
		margin-bottom: 10px;
	}

	/* Slider Section */
	#block-front-slider .carousel-item{
		height: 200px;
	}
	.big-article .img,
	.small-article .img{
		height: 280px !important;
	}
	.small-article footer{
		padding: 12px 15px 15px 15px;
	}
	.small-article footer h6{
		font-size: 22px !important;
		height: 62px !important;
		/* border: 1px solid red; */
	}
	#bottom-footer .col-sm-6{
		text-align: center !important;
		margin-bottom: 15px;
	}

}